<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adopt-A-Sky</title>
    <script type="module" src="/src/main.js"></script>

    <!-- Google Sign-In -->
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script>
      function handleSignIn (response) {
        const token = response.credential
        window?.webapp?.onSignIn(token)
      }
    </script>
    <!-- /Google Sign-In -->
  </head>
  <body>
    <!-- Header -->
    <header>
      <h1>Adopt-A-Sky</h1>

      <nav>
        <ul>
          <li id="nav-home"><a href="/">Home</a></li>
          <li id="nav-about"><a href="/view/about">About</a></li>
        </ul>
      </nav>

      <div class="spacer"></div>

      <div
        id="g_id_onload"
        data-client_id="%VITE_GOOGLE_CLIENT_ID%"
        data-context="signin"
        data-ux_mode="popup"
        data-callback="handleSignIn"
        data-auto_prompt="false"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left"
      ></div>

      <div
        id="user-details"
        class="conditional"
      ></div>

      <button
        id="signout-button"
        class="conditional"
      >Sign Out</button>

      <div
        id="user-status"
      ></div>

    </header>
    <!-- /Header -->

    <!-- Content -->
    <main class="sky-page">
      <h2>Your Adopted Patch of Sky</h2>

      <section
        id="anonymous-section"
        class="conditional"
      >
        <div class="message">
          <h3>Not Logged In</h3>
          <p>You'll need to login to access the web app.</p>
          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="outline"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left"
          ></div>
        </div>
      </section>

      <section
        id="unadopted-section"
        class="conditional"
      >
        <div class="message">
          <h3>No Adopted Patch</h3>
          <p>You haven't adopted a patch of sky yet.</p>
          <a
            class="button"
            href="/view/adopt/"
          >
            Start Adopting
          </a>
        </div>
      </section>

      <section
        id="sky-section"
        class="conditional"
      >
        <div id="sky-info">Here's your patch of sky!</div>
        <div id="sky-map"></div>
        <form id="sky-controls">
          <span>Looking for objects &amp; events of interest that were found</span>
          <label>
            from
            <input name="minDaysAgo" type="number" min="0" value="0" />
          </label>
          <label>
            to
            <input name="maxDaysAgo" type="number" min="0" value="365" />
          </label>
          <span>days ago</span>
          <button id="sky-controls-update">Refresh</button>
        </form>
        <div id="sky-data-status" class="data-status"></div>
        <ul id="sky-data"></ul>
      </section>

    </main>
    <!-- /Content -->
  </body>
</html>
