:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #f0f0f0;
  color: #404040;

  --col-light-1: #f0f0f0;
  --col-dark-1: #404040;
  --col-theme-1: hsl(210, 60%, 60%);
  --col-interactive-1: hsl(45, 80%, 60%);
  --col-interactive-2: hsl(45, 100%, 80%);
  --col-interactive-2: hsl(45, 100%, 90%);
}

a {
  font-weight: 500;
  color: var(--col-interactive-1);
  text-decoration: inherit;
}
a:hover {
  color: var(--col-interactive-2);
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  background: var(--col-theme-1);
  color: var(--col-light-1);

  @media (max-width: 600px) {
    flex-direction: column;

    .spacer {
      display: none;
    }
  }
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;

  section.s {
    display: none;
  }
}

h1 {
  padding: 0;
  margin: 0;
}

button {
  background: #ffffff;
  border: 1px solid var(--col-interactive-1);
  color: var(--col-interactive-1);
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.5em;

  &:hover, &:focus {
    border: 1px solid var(--col-interactive-2);
    color: var(--col-interactive-2);
  }

  &:active {
    border: 1px solid var(--col-interactive-3);
    color: var(--col-interactive-3);
  }
}

.spacer {
  flex: 1 1 auto;
}

/* Conditional: start hidden, but displays when code tells it to. */
.conditional {
  display: none;
}

.message {
  border-radius: 1em;
  padding: 1em;
}
