:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #f0f0f0;
  color: #404040;
}

a {
  font-weight: 500;
  color: #40c0c0;
  text-decoration: inherit;
}
a:hover {
  color: #00f0f0;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  background: #e0f0f0;

  @media (max-width: 600px) {
    flex-direction: column;

    .spacer {
      display: none;
    }
  }
}

h1 {
  padding: 0;
  margin: 0;
}

button {
  background: #ffffff;
  border: 1px solid #40c0c0;
  color: #40c0c0;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.5em;

  &:hover, &:focus {
    border: 1px solid #00f0f0;
    color: #00f0f0;
  }

  &:active {
    border: 1px solid #80f0f0;
    color: #80f0f0;
  }
}

.spacer {
  flex: 1 1 auto;
}
