/*
Adopt-A-Sky Stylesheet
 */

/*
General Settings
-------------------------------------------------------------------------------
 */

* {
  box-sizing: border-box;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 20%);

  --col-light-1: hsl(0, 0%, 98%);
  --col-light-2: hsl(0, 0%, 100%);
  --col-mid-1: hsl(0, 0%, 60%);
  --col-dark-1: hsl(0, 0%, 20%);
  --col-theme-1: hsl(195, 60%, 40%);
  --col-interactive-1: hsl(45, 80%, 60%);
  --col-interactive-2: hsl(45, 100%, 80%);
  --col-interactive-3: hsl(45, 100%, 90%);
  --col-interactive-4: hsl(45, 100%, 50%);
  --col-uninteractive-1: hsl(240, 40%, 60%);
  --col-accent-1: hsl(150, 40%, 80%);
  --col-accent-2: hsl(60, 40%, 90%);
  --col-error: hsl(15, 100%, 50%);
}

/*
Shared/Common Components
-------------------------------------------------------------------------------
 */

a {
  font-weight: 500;
  color: var(--col-interactive-4);
  text-decoration: inherit;

  &:hover {
    color: var(--col-interactive-2);
  }
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

/* Buttons (and links styled to look like buttons): used to indicate actions
   users can take. */
button, .button {
  padding: 0.5em 1em;
  
  background: var(--col-light-2);
  border: 2px solid var(--col-interactive-1);
  border-radius: 0.5em;
  color: var(--col-interactive-4);
  cursor: pointer;
  font-weight: bold;
  
  &:hover, &:focus {
    border: 2px solid var(--col-interactive-2);
    color: var(--col-interactive-2);
  }

  &:active {
    border: 2px solid var(--col-interactive-3);
    color: var(--col-interactive-3);
  }

  &:disabled {
    background: var(--col-mid-1);
    border: 2px solid var(--col-uninteractive-1);
    color: var(--col-uninteractive-1);
  }
}

/* Spacer: used in flex regions to fill up space. Basically, anything before the
  spacer gets aligned to the left/top of the flex region, and anything after
  gets aligned to the right/bottom of the flex region. */
.spacer {
  flex: 1 1 auto;
}

/* Conditional: start hidden, but displays when code tells it to. */
.conditional {
  display: none;
}

/* Message box: prompts users with "what to do next" actions */
.message {
  border: 2px solid var(--col-theme-1);
  border-radius: 1em;
  margin: 1em auto;
  max-width: 600px;
  padding: 1em;

  h3 {
    margin: 0;
  }

  .button {
    border-radius: 0.5em;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

/* "Hey, I'm working here!" spinner */
.working, #user-status {
  width: 48px;
  height: 48px;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none'><g stroke='hsl(0, 0%, 100%)' stroke-width='2'><circle cx='16' cy='16' r='14' /><line x1='16' y1='16' x2='16' y2='2' /></g></svg>");
  background-repeat: no-repeat;
  background-position: center;

  animation: 3s linear infinite workingRotation;
}

@keyframes workingRotation {
  0% { rotate: 0deg; }
  50% { rotate: 180deg; }
  100% { rotate: 360deg; }
}

/* Header: common component across website. */
header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  background: var(--col-theme-1);
  color: var(--col-light-1);

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 0.25em;

    .spacer {
      display: none;
    }
  }

  nav {
    ul {
      display: flex;
      flex-direction: row;
      gap: 1em;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

/* Main content container. Appears right after header. */
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

/*
Adoption Page
--------------------------------------------------------------------------------
 */

.adopt-page {

  #selection-form {
    max-width: 600px;
    margin: 1em auto;
    padding: 1em;

    border: 2px solid var(--col-theme-1);
    border-radius: 1em;

    > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
      }

      button {
        height: 120px;
      }
    }

    .panel {
      display: none;
    }
  }

  #adoption-form {
    display: none;
    max-width: 600px;
    margin: 1em auto;
    padding: 1em;

    border: 2px solid var(--col-theme-1);
    border-radius: 1em;

    .input {
      margin: 1em auto;
      max-width: 400px;
      width: 100%;

      label {
        display: block;
        font-weight: bold;
      }

      .input-container {
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        width: 100%;

        background: var(--col-accent-2);
        border-radius: 0.5em;

        input {
          flex: 1 1 auto;

          background: none;
          border: none;
          color: var(--col-dark-1);
          font-size: 1.5em;
          text-align: right;
        }

        span {
          flex: 0 0 auto;
          padding-right: 2em;
        }
      }
    }

    [type=submit] {
      display: block;
      margin: 1em auto;
      max-width: 400px;
      width: 100%;

      font-size: 1.5em;
    }

  }
}

/*
Sky (Viewing) Page
--------------------------------------------------------------------------------
 */

.sky-page {

  #sky-controls {
    padding: 0.5em 1em;
    margin: 0.5em 0;

    border-radius: 0.5em;
    border: 1px solid var(--col-accent-1);
    line-height: 1.25em;
    text-align: center;

    label {
      font-weight: 600;
    }

    input {
      border-radius: 0.25em;
      border: 1px solid var(--col-interactive-1); 
      padding: 0.25em;
      text-align: center;
      width: 5em;
    }
  }

  #sky-data {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0.5em 0;
    overflow: auto;
    padding: 1.5em;

    border: 4px solid var(--col-accent-1);
    border-radius: 0.5em;
    box-shadow: inset 0 0 10px var(--col-mid-1);
    list-style: none;

    li {
      flex: 0 0 300px;
      margin: 0;
    }
  }
}

.data-status {
  padding: 0.5em 1em;
  margin: 0.5em 0;

  border-radius: 0.5em;
  background: var(--col-accent-1);
  color: var(--col-light-1);
  text-align: center;

  &.status-error {
    color: var(--col-error);
  }
}

.datacard {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  height: 500px;
  max-width: 300px;
  padding: 0.5em;
  
  background: var(--col-mid-1);
  border: 0.5px solid var(--col-dark-1);
  border-radius: 0.5em;  

  .datacard-title {
    flex: 0 0 auto;
    padding: 0.25em;
    margin: 0;

    background: var(--col-light-1);
    color: var(--col-dark-1);
    font-size: 1.25em;
    font-weight: bold;
  }

  .datacard-art {
    background: var(--col-light-1);

    flex: 0 0 150px;
    width: 100%;
  }

  .datacard-type {
    flex: 0 0 auto;
    padding: 0.25em;

    background: var(--col-light-1);
    color: var(--col-dark-1);
    font-weight: bold;
  }

  .datacard-body {
    flex: 1 1 auto;
    overflow: auto;
    padding: 0.25em;
    
    background: var(--col-light-1);
    color: var(--col-dark-1);
  }
}