:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 20%);

  --col-light-1: hsl(0, 0%, 98%);
  --col-mid-1: hsl(0, 0%, 60%);
  --col-dark-1: hsl(0, 0%, 20%);
  --col-theme-1: hsl(210, 60%, 60%);
  --col-interactive-1: hsl(45, 80%, 60%);
  --col-interactive-2: hsl(45, 100%, 80%);
  --col-interactive-3: hsl(45, 100%, 90%);
  --col-uninteractive-1: hsl(240, 40%, 60%);
}

a {
  font-weight: 500;
  color: var(--col-interactive-1);
  text-decoration: inherit;
}
a:hover {
  color: var(--col-interactive-2);
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  background: var(--col-theme-1);
  color: var(--col-light-1);

  @media (max-width: 600px) {
    flex-direction: column;

    .spacer {
      display: none;
    }
  }
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;

  section.s {
    display: none;
  }
}

h1 {
  padding: 0;
  margin: 0;
}

button {
  background: var(--col-light-1);
  border: 1px solid var(--col-interactive-1);
  color: var(--col-interactive-1);
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.5em;

  &:hover, &:focus {
    border: 1px solid var(--col-interactive-2);
    color: var(--col-interactive-2);
  }

  &:active {
    border: 1px solid var(--col-interactive-3);
    color: var(--col-interactive-3);
  }

  &:disabled {
    background: var(--col-mid-1);
    color: var(--col-uninteractive-1);
    border: 1px solid var(--col-uninteractive-1);
  }
}

.spacer {
  flex: 1 1 auto;
}

/* Conditional: start hidden, but displays when code tells it to. */
.conditional {
  display: none;
}

.message {
  border: 2px solid var(--col-theme-1);
  border-radius: 1em;
  margin: 1em auto;
  max-width: 400px;
  padding: 1em;
}
